@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
}
html {height:100%;}
body {
    width: 100%;
    height: 100%;
    color: #333;
    background: #f7f7f7;
    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
    line-height: 100%;
}
a {
    color:#7FFFD4;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}
a #about_left {
    color:#363636;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}
a:hover {
    color:#4876FF;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}
a:active{color:#008B00}


img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

hr {
    display: block;
    border: 0;
    height: 1px;
    border-top: 1px solid #ccc;
    padding: 0;
}



.left {float: left;}
.right {float:right;}
.clear{clear:both; }
.center{float: center;}
/* Taldau blok*/

::selection {background:#FFFF00; color:#0000FF}
::-moz-selection {background: #f58b8b; color:#fff}
header, footer {
    width: 98%;
    background-color: #8B8682;
    min-height: 50px;
    float: left;
}

header {
    border-bottom: 2px solid silver;
    padding: 1%;
}

#logo{
    font-size: 2em;
    font-family: Comic Sans MS, sans-serif;
    color:#FFFFFF;
}
.contact{
    font-size: 1.5em;
    font-family: Comic Sans MS, sans-serif;
    margin-left: 20px;
}

input[type=text].field{
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    margin-left: 20px;

}

input[type=text].field:focus{border:2px solid #7EC0EE}
input[type=submit].field{
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    margin-left: 20px;

}

input[type=submit].field:focus{border:2px solid #f58b8b}
#menu {
    color:#000000;
    font-family: Comic Sans MS, sans-serif;
    font-size: 1.7em;
}

#menu hr {width: 500px;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 2%;

}

#menuHrefs a {
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    color: #000000;
}

#menuHrefs a:hover {
    background-color:#ADD8E6;
}


/*Osnovnye style saita*/

#wrapper {
    float: left;
    width: 100%;
    margin-top: 20px;
}

#wrapper #articles {
    float: left;
    width: 80%;
    margin-left: 10%;
}

#wrapper #articles article {/*реконструкциядагыларга*/
    float: left;
    border:1px solid silver;
    box-sizing: border-box;
    border-radius: 5px;
    background-color:#fafafa;
    min-height: 400px;
}
@media (min-width: 900px){
    #wrapper #articles article {
        width: 31.333%;
        margin-right: 2%;

    }}
@media (max-width: 899px) and (min-height: 700px){
    #wrapper #articles article {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 10px;

    }}
@media (max-width: 699px){
    #wrapper #articles article {
        width: 100%;
        margin-bottom: 10px;

    }}
#wrapper #articles article img {/*новостидагы суреттерге*/
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid silver;
    margin-bottom: 10px;
}

#wrapper #articles article h3 {/**/
    width: 90%;
    margin-left: 5%;
    font-weight: normal;
    font-size: 1.7em;
    color:#363636;
}

#wrapper #articles article p {
    width: 80%;
    margin-left: 10%;
    text-indent: 1.7em;
    color:#363636;
}

#wrapper #articles article a {
    padding:10px 5px;
    background-color:#363636;
    margin-right: 5%;
    border-radius: 50px;
    float: right;
    margin-bottom: 1%;
    color: #fff;
}

#wrapper #articles article a:hover {
    background-color:#363636;
}
/*style stranice o nas*/
#about_us {
    width: 40%;
    float: left;
    background-color:#BEBEBE;
    border-radius: 5px;
    border:1px solid silver;
    box-sizing: border-box;
    color:#363636;
    padding: 1%;
    margin-left: 28%;
    text-indent: 1.7em;
}
#about_us1 {
    width: 40%;
    float: left;
    background-color:#BEBEBE;
    border-radius: 5px;
    border:1px solid silver;
    box-sizing: border-box;
    color:#363636;
    padding: 1%;
    margin-left: 10%;
    text-indent: 1.7em;
}
#about_left {
    color:#008B00;
    width: 25%;
    float: right;
    margin-right: 2%;
    background-color:#BEBEBE;
    border-radius: 5px;
    border:1px solid silver;
    box-sizing: border-box;
    padding: 1%;
}
#about_right {
    color:#008B00;
    width:25%;
    float: left;
    margin-left: -10%;
    background-color:#BEBEBE;
    border-radius: 5px;
    border:1px solid silver;
    box-sizing: border-box;
    padding: 1%;
}

#about_us img {
    max-width: 100%;
    width: 100%;
    height: auto;

}
#columRight {
    width: 30%;
    float:left;
    margin-left: 5%;
    background-color: #fafafa;
    border-radius: 5px;
    border:1px solid silver;
    box-sizing: border-box;
    padding: 1%;
}
#columleft {
    width: 30%;
    float:right;
    margin-right:5%;
    background-color: #fafafa;
    border-radius: 5px;
    border:1px solid silver;
    box-sizing: border-box;
    padding: 1%;
}
/*style formy*/
form {
    width: 70%;
    margin-left: 35%;
    float: left;
}

form label {
    float: left;
    width: 100%;
    margin-bottom: 10px;

}


form input {
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    float: left;
    clear: both;
    background-color: #fafafa;
    margin-bottom: 10px;
    width: 40%;
}

form input:focus{border:2px solid #f58b8b}

form textarea {
    width: 60%;
    float:left;
    clear: both;
    background-color: #fafafa;
    border: 2px solid silver;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.7em;

}

form #send {
    float: left;
    padding: 10px;
    background-color: #f37a7a;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1em;
    color: #fff;

}

form #send:hover {
    background-color: #bdf37a;
}



/*center block sait*/
#main_soc_block {
    width: 100%;
    padding: 2% 0;
    border-bottom: 2px solid silver;
    margin-top: 2px solid silver;
    margin: 20px 0;
    float: left;
    background: url('../img/15.jpg') repeat-x center 0;
    height: 200px;

}
#main_soc_block_in {
    text-align: center;
    margin-bottom: 2px;
    padding: 1%;
    height: 90px;
    background-color: #FFEFD5;
    border:1px solid silver;
    box-sizing: border-box;
    border-radius: 7px;
    width: 300px;
    max-width: 98%;


}

#main_soc_block_in a {
    float: left;
    padding: 5px 10px;
    background-color: #e9af32;
    border-radius: 6px;
    color: #fff;
    margin-left: 30%;
    margin-top: 15px;
}

/*Style footer*/
footer {
    color: #E0EEEE;
    padding: 1%;
    border-top:2px solid silver;
    margin-top: 10px;
    height: auto;
    padding-bottom: 2%;
}

footer img{width: 10%; float: left; margin-right: 10px;}


#page-wrap:after {
    content: "";
    display: block;

}
footer, #page-wrap:after {height: 10px}

#page-wrap{
    min-height: 94%;
    margin-bottom: -10px;
}
